{
    "api": {
        "addr": ":3000"
    },
    "mysql": {
        "host": "192.168.1.188",
        "port": 3306,
        "user": "root",
        "password": "test123456",
        "dbName": "diamond"
    },
    "redis": {
        "host": "192.168.1.188",
        "port": 6379,
        "password": "123qwe",
        "dbName": 6,
        "poolSize": 25
    },
    "jwt": {
        "secret": "secret"
    },
    "sshd": {
        "addr": ":2222",
        "keyPath": "C:/Users/90hua/.ssh/id_rsa"
    }
}