mysql:
  host: 192.168.1.188
  port: 3306
  user: root
  password: test123456
  dbName: diamond
redis:
  host: 192.168.1.188
  port: 6379
  password: 12345
  dbName: 8
  poolSize: 10
jwt:
  secret: secret
# 反向代理 navicat http 隧道，密码保护，不使用可忽略
navicate:
  url: http://localhost:3306
